html, body {
   margin:0;
   padding:0;
   height:100%;
 }

video#backgroundvideo {
    position: fixed;
      top: 50%;
      left: 50%;
    height: auto;
      min-height: 100%;
    width: auto;
      min-width: 100%;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    overflow: hidden;
}
.vidspace {
  height: 100vh;
  width: auto;
}

div#overlay {
  position: fixed;
  top:0;
  left:0;
}

.container {
  width: 100%;
  height: auto;
  min-height: 100%;
}

#bigtext {
  position: absolute;
    top: 20px;
    left: 0;
    bottom: 0;
    right: 0;
  color: white;
  height: 150px;
  display: block;
  font-family: "Times New Roman", serif;
  text-align: center;
  margin: auto;
  text-shadow: 1px 1px #000000;
  font-style: italic;
  font-size: 142px;
}
li {
  list-style-type: none;
  width: 260px;
}
label {
  cursor: pointer;
}
label:focus {
  outline: none;
}

.menu {
  position: fixed;
    top: 0;
    left: 0px;
  z-index: 5;
  background: #fff;
  height: 100%;
  width: 260px;
  transform: translate3d(-240px, 0, 0);
  transition: transform 0.35s;
  line-height: 50%;
  box-shadow: 0px 3px 2px #888888;
}

.menu label.menu-toggle {
  position: absolute;
  right: 0px;
  width: 200px;
  height: 50px;
  line-height: 0px;
  display: block;
  padding: 0;
  text-indent: -9999px;
  background: url(http://i.imgur.com/jiuJfka.png) 50% 50%/200px 50px no-repeat;
}

.menu ul li a, .menu ul li label {
  display:block;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: -60px;
  margin-right: 20px;
  text-align: center;
    height: 10vh;
    width: 220px;
  padding: 20px 20px;
  line-height: 20px;
  text-decoration: none;
  color: #000;
}

.menu ul li a p {
  display: block;
    margin-top: 40px;
    margin-bottom: auto;
}

.menu ul li a:hover, .menu ul li label:hover {
  color: #666;
}

.menu ul.menulist{
  position: absolute;
    top: 0;
    left: 23px;
  height: 100%;
}

/* hide inputs */
.menu-checkbox {
  display: none;
}

/* hide navigation icon for sublabels */
.menu .menu label.menu-toggle {
  background: none;
}

/* fade in checked menu */
.menu-checkbox:checked + .menu {
  transform: translate3d(0, 0, 0);
}

.belowthefold {
  display: block;
    margin-left: auto;
    margin-right: auto;
  overflow: hidden;
  text-align: center;
  width: 100%;
  position: absolute;
    top: 80vh;
    left: 0px;
  background-color: #EEE
}

.belowthefold h5 {
  position: relative;
    top: -10px;
}

.belowthefold h1 {
  position: relative;
    top: -5px;
}

footer {
  display: block;
    height: 50px;
    width: 100%;
  position: absolute;
    bottom: 0px;
  background-color: #eee;
}

footer p {
  position: relative;
  top: 4px;
  text-align: center;
  color: #ccc;
  font-size: 7pt;
}

.article-body {
  background-color: #eee;
  width: auto;
    max-width: 600px;
  height: auto;
  padding: 30px;
}
