/* ---- Structural elements ---- */

.container {
  position: absolute;
  width: auto;
  padding: 0px 0px;
  overflow: hidden;
}

.subsequent {
  position: relative;
  top: -275px;
}

.wrapper {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}
.text-holder {
  background-color: #444;
  border-radius: 2px;
  color:#666;
  height: 980px;
  width: 440px;
  position: absolute;
  top: -416px;
  left: -72px;
}
.text-holder h1 {
  font-size: 16em;
  position: relative;
  top:18px;
}
.text-holder h2 {
  position: relative;
  top:3px;
  font-family: 'Nexa';
  font-size: 4.6em;
  text-transform: uppercase;
  line-height: 1em;
  text-align: center;
  color: #eee;
}
.text-holder h3 {
  line-height: 1.2em;
  position: relative;
  left: 30px;
  top:30px;
  font-size: 2.0em;
  text-align: left;
  font-family: 'nexa';
  text-transform: uppercase;
  opacity: 0.8;
}
.text-holder h4 {
  position: relative;
  top:20px;
}

/* ---- Box Sizes ---- */
.full {
  width: 100%;
  height: 100vh;
  max-height: 120vw;
}

.half-width {
	width: 50%;
	height: 70vh;
	background-color: #545;
}
.third-width {
	width: 33.33%;
	height: 70vh;
  max-height: 75vw;
	background-color: #455;
}
.two-third-width {
  position: relative;
  margin: 0 auto;
  width: 66.66%;
  height: 70vh;
  max-height: 66vw;
  background-color: #455;
}
.full-width {
	width: 100%;
	height: 60vh;
  max-height: 65vw;
	background-color: #554;
}

.article-link {
  display: block;
  float: left;

}
/* -- Author Box -- */
.authorbox {
  position: relative;
  top: 0;
  margin: 0 auto;
  width: 225px;
  height: 300px;
  background-image: url('../images/grey3-bg.png');
  box-shadow:1px 1px 0px #000;
}



/* -- Images -- */

.logo {
  display: block;
  position: relative;
  top: -8px;
  z-index: 10;
  width: 100px;
  height: 100px;
  background-image: url('../images/logo.png');
  margin-left: 24px;
}

.authorbox img {
  position: relative;
  top:36px;
  display: block;
  margin: 0 auto;
  width: 156px;
  height: 156px;
}

.post img {
  width:800px;
  height:auto;
  box-shadow: 1px 1px 0px #000;
  margin-bottom: 1em;
}

/* -- Links -- */
.nav-links li a {
  color: #eee;
  text-decoration: none;
}

/* -- Navigation -- */
.nav-box {
  margin: 0 auto;
  z-index: 9;
  background-color: #00040f;
  position: fixed;
  top:0px;
  left:0;
  width: 100vw;
  height: 85px;
  transform: translate3d(0, 0, 0);
  transition: transform 0.25s;
}

.nav-box:hover {
  transform: translate3d(0, 0px, 0);
}

.nav-links {
  position: relative;
  top:12px;
  display: block;
  text-align: center;
}

.nav-links ul {
  position: absolute;
  top:0px;
  right: 64px;
}

.nav-links ul li {
  padding-left: 40px;
  padding-right: 40px;
  float: right;
  display: block;
  position: relative;
  top:-75px;
  line-height:1em;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
}


/* -- Post -- */
	/* Background Images */
.kurzgesagt {
  background-image: url('../images/kurzgesagt.PNG');
}

.pc-mini-1 {
  background-image: url('../images/pcbg.png');
}

.new-year{
  background-image: url('../images/maxresdefault.jpg');
	/* ----------------- */
}


/* Above the Fold*/
.atf {
  height: 80vh;
}

.announcement {
  position: relative;
  top: 0;
  color: black;
  display: block;
  margin: 0 auto;
  width: 650px;
  height: auto;
}
.announcement h1 {
  font-size: 7.2em;
  color:black;
}
.announcement h4 {
  color:black;
}
.announcement p {
  font-size: 2.4em;
  line-height: 1.7em;
  position: relative;
  text-align: left;
  color: #222;
}
.announcement img {
  position: relative;
  left: 200px;
  margin: 0 auto;
  height: 250px;
  width: 250px;
}
.atf .article-display {
  height: auto;
  margin:72px;
  position: relative;
  top: -56%;
  transform:translateY(-50%);
}

.atf h1 {
  font-size: 9.6em;
}

/* Below the Fold*/

.article-display {
  margin:72px;
  position: relative;
  top: -64%;
  transform:translateY(-50%);
  background-repeat: none;
  background-position: center;
  opacity: 1;
  padding: 10px;
}
.article-art {
  position: relative;
  top:0px;
  height: 100vh;
}

.article-stack {
  height:auto;
  display: block;
}
/* Overlays */
.overlay {
  z-index: 0;
  position: relative;
  top: 6px;
  left: 400px;
  height: 100%;
  width: 100%;
  opacity: 1;
}
.blue {
  background-color: #33a;
}

.grey {
  background-color: #333;
}

.green {
  background-color: #3a3;
}

.james {
  background-color: #7FB2F0;
}

/* 2016 */
.senn {
  background-image: url("../images/senn.jpg");
  background-repeat: no-repeat;
}

.display-text {
  position: relative;
  float: right;
  right: 400px;
  top: 36px;
  width: 440px;
  font-size: 2.4em;
  border-radius: 2px;
  padding: 36px;
  color: #dedede;
}


.post {
  box-shadow: 1px 1px 0px #000;
  color: #ddd;
  position: relative;
  top: -29vh;
  padding-top: 35px;
  margin-left:auto;
  margin-right: auto;
  padding-left:70px;
  padding-right:70px;
  width: 800px;
  min-width: 800px;
  background-image: url('../images/grey3-bg.png');
}

.intro-text-box {
  display: block;
  position: relative;
  top: 24vh;
  transform: translateY(-50%);
  margin-left: auto;
  margin-right: auto;
}

/*-- Video --*/
.video {
  position: relative;
  background: #666;
  display: block;
  width: 800px;
  height: 450px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}




