/* Foundational */
p {
  font-family: "Times New Roman", serif;
}
body {
  font-size: 62.5%;
  z-index: 0;
  background-image: url('../images/grey4-bg.png');
  background-repeat: repeat; 
  height: 100%;
  width: 100%;
  margin: auto;
}
.container {

  width: auto;
  padding: 0px 0px;
}
.subsequent {
  position: relative;
  top: -275px;
}

nav {
  z-index: 999;

}

.sticky {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  top: 40px;
}

.audio {
  display: block;
  margin-left:auto;
}
footer {
  position: static;
  bottom: 0;
  left: 0;
}
footer p {
  position: relative;
  top: 4px;
  text-align: center;
  color: #ccc;
  font-size: 7pt;
}
@font-face {
  font-family: 'Nexa Bold';
  src: url('fonts/nexa.woff2') type('woff2');
}
/* Navigation */






}
.blue {
  background-color: #002157
}


/*Bio Carousel*/

.taylors {
  background-image: url("../images/taylor.png");
}
.ravenstorms {
  background-image: url("../images/ravenstorm.png")
}
.jamess {
  background-image: url("../images/james.png")
}

.taylors .textbox {
  position: relative; 
  top: 350px;
}
.ravenstorms .textbox {
  position: relative; 
  top: 410px;
}
.jamess .textbox {
  position: relative; 
  top: 390px;
}

.profile {
  background-color: none;
  width: 1500px;
  height: 750px;
}
.textbox {
  position: relative;
  top:350px;
  margin-left: auto;
  margin-right: auto;
  height:400px;
  width:600px;
}
.profile p {
  color:#fff;
  font-size: 14px;
}

/*Video Promo*/
.video {
  position: relative;
  background: #666;
  display: block;
  width: 800px;
  height: 450px;
  margin-left: auto;
  margin-right: auto;
}

.video-background-text { 
  background-color: #666;
  width: 100vw;
  height: 600px;
}
.video-background-text .video {
  position: relative;
  top: 10px;
}
.video-background-text h1{
  position: relative;
  font-family: "Raleway", sans-serif;
  font-size: 48px;
  text-align: center;
  color: white;
}
/* Article Styling */
.article-wrap {
  display:block;
  position: relative;
  left: 15vw;
  width: 600px;
  max-width: 100vw;
  overflow: hidden;

}

.article-body {
  display: block;
  position: relative;
  width: auto;
  max-width: 100vw;
  font-family: "Times New Roman"; 
  color: #222;
  font-size: 20px;
  line-height: 1.61em;
}



.kurzgesagt {
  background-image: url('../images/kurzgesagt.PNG');
}

.pc-mini-1 {
  background-image: url('../images/pcbg.png');
}
.vr {
  background-image: url('../images/vr.png');
}

.cover {
  text-align: center;
}

.cover h1 {
  position: relative;
  top: 150px;
  font-size: 144px;
}

.cover h6 {
  margin: 0 35px;
  position: relative;
  top: 60px;
  font-family: 'Raleway';
  font-size: 18px;
}

.cover-apology {
  position: relative;
  top:80px;
}

.footer-text {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height:50px;
  width: 300px;
  color: #666;
  position: absolute;
  bottom: -100px;
  line-height: 0em;
}

.gotcha { 
  text-align: center;
}
.article-title-static {
  position: relative;
  top: 85vh;
  font-family: 'Raleway';
  color: #222;
  font-size: 36pt;
}

.article-title {
  position: relative;
  font-family: 'Raleway';
  color: #222;
  font-size: 36pt;
}

.article-attr-static {
  position: relative;
  top: 85vh;
  color: #222;
  font-style:italic;
}

.article-attr {
  position: static;
  color: #222;
  font-style:italic;
}
