/* Foundational */
body {
  z-index: 0;
  background-color: #eee;
  height: 100%;
  width: 100%;
  margin: auto;
}
.container {
  width: auto;
  padding: 0px 70px;
}

nav {
  z-index: 999;
}

footer {
  position: static;
  bottom: 0;
  left: 0;
}
footer p {
  position: relative;
  top: 4px;
  text-align: center;
  color: #ccc;
  font-size: 7pt;
}
@font-face {
  font-family: 'League Gothic';
  src: url('..fonts/league_gothic-webfont.woff2');
}
/* Navigation */
.nav-box-left {
  z-index: 999;
  background-color: #002157;
  position: fixed;
    top: 0;
    left: 0;
  width: 300px;
  height: 100%;
  box-shadow: 0 0 1px 1px #eee;
  transform: translate3d(-230px, 0, 0);
  transition: transform 0.35s;
}

.nav-box-left:hover {
  transform: translate3d(0, 0, 0);
}

.nav-box-right {
  background-color: #002157;
  position: fixed;
    top: 0;
    right: 0;
  width: 300px;
  height: 100%;
  box-shadow: 0 0 1px 1px #ddd;
  transform: translate3d(230px, 0, 0);
  transition: transform 0.35s;
}


/* Typographical */
.menulink h6 {
  color: inherit;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 200;
}

.nav-links {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.nav-links li a {
  color: #eee;
  text-decoration: none;
}

.menulink:hover {
  color: gold;
}

.nav-links ul li {
  display: block;
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  list-style-type: none;
}

/*Front Page 11/2/15*/

.banner {
  width: 100vw;
  background-color: #002157;
}

.post .banner {
  width: 100vw;
  background-color: #002157;
  left: -10vw;
  position: relative;
  z-index: -10;
}

.banner img {
  display: block;
  margin-left: auto;
  margin-right:auto;
  height:256px;
  width:256px;
  position: relative;
  left: -80px;
}

.post {
  position: relative;
  left: 10vw;
  width: 640px;
  min-width: 200px;
}
.post h1 {
  font-family: "Raleway";
  font-size: 88px;
  text-transform: uppercase;
  text-align: left;
}

.post h4 {
  position: relative;
  top:-30px;
  text-align: left;
  color: #444;
  font-style: italic;

}

.post p {
  font-size: 20pt;
  line-height: 1.61em
}

.post i p {
  font-size: 26pt;
  color:#222;
}

.post h2 {
  font-family: 'Raleway';
  font-size: 48px;
}

/*Bio Carousel*/

.taylors {
  background-image: url("../images/taylor.png");
}
.ravenstorms {
  background-image: url("../images/ravenstorm.png")
}
.jamess {
  background-image: url("../images/james.png")
}

.taylors .textbox {
  position: relative; 
  top: 350px;
}
.ravenstorms .textbox {
  position: relative; 
  top: 410px;
}
.jamess .textbox {
  position: relative; 
  top: 390px;
}

.profile {
  background-color: none;
  width: 1500px;
  height: 750px;
}
.textbox {
  position: relative;
  top:375px;
  margin-left: auto;
  margin-right: auto;
  height:400px;
  width:600px;
}
.profile p {
  color:#fff;
  font-size: 14px;
}

/* Article Styling */
.article-wrap {
  display:block;
  position: relative;
  left: 15vw;
  width: 600px;
  max-width: 100vw;
  overflow: hidden;

}

.article-body {
  display: block;
  position: relative;
  width: auto;
  max-width: 100vw;
  font-family: "Times New Roman";
  color: #222;
  font-size: 20px;
  line-height: 1.61em;
}

.article-art {
  position: static;
  height: 100vh;
}

.cover {
  text-align: center;
}

.cover h1 {
  position: relative;
  top: 150px;
  font-size: 144px;
}

.cover h6 {
  margin: 0 35px;
  position: relative;
  top: 60px;
  font-family: 'Raleway';
  font-size: 18px;
}

.cover-apology {
  position: relative;
  top:80px;
}

.footer-text {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height:50px;
  width: 300px;
  color: #666;
  position: absolute;
  bottom: -100px;
  line-height: 0em;
}

.gotcha { 
  text-align: center;
}
.article-title-static {
  position: relative;
  top: 85vh;
  font-family: 'Raleway';
  color: #222;
  font-size: 36pt;
}

.article-title {
  position: relative;
  font-family: 'Raleway';
  color: #222;
  font-size: 36pt;
}

.article-attr-static {
  position: relative;
  top: 85vh;
  color: #222;
  font-style:italic;
}

.article-attr {
  position: static;
  color: #222;
  font-style:italic;
}
